/*
* css公共样式
*/

/*页面各元素统一样式*/
body,p,h1,h2,h3,h4,h5,h6,dd,dl,dt,th,td,ul,li,ol,form,input,select,textarea,button,pre,legend,a,div,label{margin:0;padding:0;font-family: "microsoft yahei","微软雅黑",arial,Helvetica,sans-serif;color: #323232;}
table {border-collapse:collapse;border-spacing:0;}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
}
.tc { text-align:center!important;}
.tl { text-align:left!important;}
.tr { text-align:right!important;}
img,fieldset { border:0;}
ul,ol,li {list-style-type:none;}
a {text-decoration: none;cursor: pointer;}
a:hover{color: #c62828;text-decoration: none;}

/*浮动*/
.fn {float:none!important;clear: both;}

/*边距*/
.mt40{
  margin-top: 40px;
}
.ml5{
  margin-left: 5px;
}

/*宽高*/
.img_100{
  width: 100%;
  height: 100%;
}

/*字体颜色*/

/*背景颜色*/

/*表格*/
.table_tr{
  display: table-row;
}

/*边框*/
.border_0{
  border: 0!important;
}

.border_r_0{
  border-right: 0!important;
}

/*字体*/
.font12 { font-size: 12px; }
.font13 { font-size: 13px; }
.font14 { font-size: 14px; }
.font16 { font-size: 16px; }
.font18 { font-size: 18px; }
.font25 { font-size: 25px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f18{font-size:18px;}
.b{font-weight:bold;}

/*宽度*/
.w20{ width: 20px; }
.w30 { width: 30px; }
.w50{ width: 50px; }
.w60{ width: 60px; }
.w80{ width: 80px; }
.w90{ width: 90px; }
.w100{ width: 100px; }
.w120{ width: 120px; }
.w130{ width: 130px; }
.w130{ width: 136px; }
.w140{ width: 140px; }
.w158{ width: 158px; }
.w160{ width: 160px; }
.w180{ width: 180px; }
.w185{ width: 185px; }
.w200{ width: 200px; }
.w230 { width: 230px; }
.w258 { width: 258px; }
.w280 { width: 280px; }
.w300{ width: 300px; }
.w358 { width: 358px; }
.w320{ width: 320px; }
.w400{ width: 400px; }
.w450 { width: 450px; }
.w468{ width: 468px!important; }
.w498{ width: 498px!important; }
.w500 { width: 500px; }
.w508{ width: 508px; }
.w600 { width: 600px; }
.w700 { width: 700px; }
.w750 { width: 750px; }
.w800{ width: 800px; }
.w960 { width: 960px; }
.w100p { width: 100%; }
.w1400 { width: 1400px; }
.w92p { width: 92%; }

/*高度*/
.h15{ height: 15px; }
.h25{ height: 25px; }
.h24{ height: 24px; }
.h30{ height: 30px }
.h40{ height: 40px }
.h50{ height: 50px }
.h80{ height: 80px }
.h100 { height: 100px; }
.h125 { height: 125px; }
.h150 { height: 150px; }
.h160{ height: 160px }
.h220{ height: 220px }
.h270 { height: 270px; }
.h307 { height: 307px; }
.h365 { height: 365px; }

/*位置*/
.center{margin: 0 auto;}
.no-margin{ margin: 0px; }
.fl{ float: left; }
.fr{ float: right; }
.pr{position: relative;}
.pa{position: absolute;}

.l208{left: 208px;}

.mt0 { margin-top: 0 !important; }
.mt3 { margin-top:3px; }
.mt5 { margin-top:5px; }
.mt6 { margin-top:6px; }
.mt8 { margin-top:8px; }
.mt10 { margin-top:10px; }
.mt12 { margin-top:12px; }
.mt15 { margin-top:15px; }
.mt20 { margin-top:20px; }
.mt25 { margin-top: 25px; }
.mt50 { margin-top: 50px; }

.mb10 { margin-bottom: 10px; }
.mb12 { margin-bottom: 12px; }

.ml3 { margin-left: 3px;}
.ml5 { margin-left: 5px;}
.ml8{margin-left:8px;}
.ml10 { margin-left: 10px; }
.ml12 { margin-left: 12px; }
.ml15 { margin-left: 15px; }
.ml20 { margin-left: 20px; }
.ml30 { margin-left: 30px; }
.ml50 { margin-left: 50px; }
.ml60 { margin-left: 60px; }
.ml100 { margin-left: 100px; }
.ml150 { margin-left: 150px; }
.ml180 { margin-left: 180px; }
.ml185 { margin-left: 185px; }

.mr8{margin-left:8px;}
.mr10 { margin-right: 10px; }
.mr15 { margin-right: 15px; }
.mr16 { margin-right: 16px; }
.mr13 { margin-right: 13px; }
.mr18 { margin-right: 18px; }
.mr20 { margin-right: 20px; }
.mr25 { margin-right: 25px; }
.mr30 { margin-right: 30px; }
.m12_0{ margin: 12px 0px;}
.m8_0{ margin: 8px 0px;}

.p12 { padding: 12px;}

.pt7 { padding-top: 7px; }
.pt10{padding-top:10px;}
.pt15 { padding-top: 15px; }
.pt25 { padding-top: 25px; }
.pt40 { padding-top: 40px; }

.pl0 { padding-left: 0px; }
.pl5 { padding-left: 5px; }
.pl10 { padding-left: 10px; }
.pl15 { padding-left: 15px; }
.pl20 { padding-left: 20px; }
.pl50 { padding-left: 50px; }
.pl70 { padding-left: 70px; }
.pl130 { padding-left: 130px;}
.pl138 { padding-left: 138px;}
.pl150 { padding-left: 150px; }
.pd0_20{ padding: 0px 20px;}


.pb10{padding-bottom:10px;}
.pb60{padding-bottom:60px;}

.pr5 { padding-right: 5px; }
.pr10{padding-right:10px;}
.pr15 { padding-right: 15px; }


/*内容位置*/
.textc{text-align: center;}
.textr{text-align: right;}
.textl{text-align: left;}
.textm{vertical-align:middle;}
.textcm{text-align: center;vertical-align:middle;}
.tc{text-align: center;}
.tl { text-align: left; }
.tr { text-align: right; }
.vat { vertical-align: top;}
.vam { vertical-align: middle; }

/*颜色*/
.pink{color:#FF007E!important;}
.gary{color:#777777!important;}
.orange{color:orange;}
.red {color: red !important;}
.blue_355ac4 {color: #c62828}
.green { color: green; }
.blue { color: #0000FF; }
.blue_link { color: #005EA7!important;}
.blue_link:hover {text-decoration: underline!important;}
.black { color: #000000; }
.white { color: #FFFFFF; }
.grey { color: grey;}
.bgdd{ background-color:#EEE; }
.bgred { background-color:#EC5757; }
.bggrey { background-color:#FBFBFB; }
.bgwhite { background-color: #ffffff; }
.bg7{background-color: #f3f3f3;}

/*其他*/
.clear{clear: both;}
.hide { display: none; }
.block {display: block;}
.pointer{ cursor: pointer }
.bt0 {border-top: 0px}
.underline {text-decoration: underline;}
.lh30 { line-height: 30px; }
.lh60{ line-height: 60px; }
.lh23{ line-height: 23px; }
.del {
  text-decoration: line-through;
}

.break {table-layout:fixed; word-break: break-all; overflow:hidden;}
.no_break {table-layout:fixed; word-break: break-all; overflow:hidden;}
.text-nowrapE { white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }

.topMain {
  width: 1200px;
  float: none;
  margin: 0 auto;
  overflow: hidden;
}


/*分页区域*/
.paging_nav div,.paging_nav span,.paging_nav input{
  box-sizing: border-box;
}

.paging_nav{
  padding: 20px 10px;
  margin-top: 20px;
  overflow: hidden;
}

.pagging_right{
  float: right;
}

.paging_nav .pagination{
  float: left;
  margin: 0px;
  padding: 0px;
}

.paging_nav .pagination > li{
  display: inline;
}

.paging_nav .pagination > li > a{
  position: relative;
  float: left;
  padding: 0 12px;
  margin-left: -1px;
  height: 30px;
  line-height: 30px;
  color: #323232;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
  transition: all .5s;
}

.paging_nav .pagination > li > a:hover{
  z-index: 2;
  background-color: #eee;
  border-color: #ddd;
}

.paging_nav .pagination > li.active a{
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #0c7dd9;
  border-color: #0c7dd9;
}

/*一共多少页*/
.pagging_right .all_page{
  float: left;
  height: 30px;
  line-height: 30px;
  margin-left: 20px;
}

.page_jumping{
  float: left;
  height: 30px;
  line-height: 30px;
  margin-left: 20px;
}

.page_jumping .input_field{
  height: 30px;
  line-height: 30px;
  width: 50px;
  margin-right: 5px;
  font-size: 14px;
  padding-left: 15px;
  color: #000000;
  border: 1px solid #dddddd;
}

.page_jumping .btn{
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  margin-left: 10px;
  font-size: 14px;
  background-color: #0c7dd9;
  color: #ffffff;
  display: inline-block;
  border: 0;
  cursor: pointer;
}

.page_jumping .btn:hover{
  background-color: #7fb4e0;
  color: #ffffff;
}

.listmain li{
  width:1155px;
  height:42px;
  line-height:42px;
  border-bottom:1px solid #f0f0f0;
}

.listmain li span{
  float:right;
}


.section_nav{
  box-sizing: border-box;
  width: 1200px;
  padding: 20px;
  margin: 10px auto;
  background-color: #ffffff;
}

.myorder.mainnav{
  width:1185px;
  margin:0 auto;
  float:none;
}
.myorder_right.mainright{
  float:left;
}
.yanshou_rules.ml50.circumstance{
  float:right;
  margin-left:5px;
}
.pass{
  clear:both;
}
.keep{
  clear:both;
}

.many_info{
  max-height: 100px;
  overflow-y: auto;
}
.topfirst{
  width:100%;
  float:left;
  margin-bottom:10px;
  border-bottom:1px solid #dddddd;
}
.topfirst p{
  font-size:16px;
  float:left;
  margin:5px 25px;
}
.checkout{
  float:left;
  clear:both;
  margin-bottom:10px;
  margin-top:10px;
  width:100%;
  height:30px;
  border:1px solid #dddddd;
  line-height:30px;
  background-color:#f9f9f9;
}
.checkout span{
  margin:0 30px;
  height:30px;
  float:left;
}
.checkout span button{
  margin-left:15px;
  margin-bottom:3px;
}
.div-bo{
  display: none;
}
.rightline{
  height:30px;
  width:1px;
  float:left;
  background-color:#dddddd;
}

input.pseudo-input {
  visibility: hidden;
  position: absolute;
}



/*列表表格样式、原先的山西综改区有这些样式注意替换*/
.common_table {
  width: 100%;
}

.common_table thead {
  width: 100%;
  background-color: #c62828;
}

.common_table thead th,.common_table th {
  color: #ffffff;
  padding: 8px;
  line-height: 1.42857143;
  text-align: center;
}

.common_table > tbody > tr:nth-of-type(2n+1) {
  background-color: #f9f9f9;
}

.common_table > tbody > tr:hover {
  background-color: #ececec;
}

.common_table td {
  border-top: 1px solid #ecebeb;
  line-height: 35px;
  vertical-align: middle;
  padding: 5px;
}

/*列表表格样式、原先的山西综改区有这些样式注意替换*/


/*分页样式*/

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
  float: right;
}
.pagination > li {
  display: inline;
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}

.pagination > li > a, .pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-top-color: rgb(221, 221, 221);
  border-right-color: rgb(221, 221, 221);
  border-bottom-color: rgb(221, 221, 221);
  border-left-color: rgb(221, 221, 221);
}